.header-table {
    display: table;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.03);
}

.header-cell-left {
    display: table-cell;
    text-align: left;
}

.header-cell-right {
    display: table-cell;
    text-align: right;
}

.custum-table {
    display: table;
    width: 100%;
}

.custom-cell-left {
    display: table-cell;
    text-align: left;
}

.custom-cell-right {
    display: table-cell;
    text-align: right;
}