.m-hover:hover {
    background-color: #e2e2e2;
}

.custom-bg {
    background-color: #fff;
}

.custom-header {
    background-color: #f7f7f7;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    border-right: 1px solid rgba(0, 0, 0, 0.125);
    border-left: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem 0.25rem 0 0;
}

.custom-body-left {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    border-left: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0 0 0 0.25rem;
}

.custom-body-center {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    border-left: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0 0 0 0;
}

.custom-body-right {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    border-left: 1px solid rgba(0, 0, 0, 0.125);
    border-right: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0 0 0.25rem 0;
}