.thl-boder {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    border-right: 1px solid rgba(0, 0, 0, 0.125);
}

.thr-boder {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.tdl-boder {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    border-right: 1px solid rgba(0, 0, 0, 0.125);
}

.tdr-boder {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.td-hover tbody tr:hover {
    color: #212529;
    background-color: rgba(0, 0, 0, 0.025);
}

.th-bg thead th {
    background-color: #fff;
}