.custom-bg {
    background-color: #fff;
}

.custom-tbody {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    border-right: 1px solid rgba(0, 0, 0, 0.125);
    border-left: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem 0.25rem 0 0;
}

.custom-up-left {
    width: 30px;
    border-top: 2px solid rgba(0, 0, 0, 0.125);
    border-left: 2px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem 0 0 0;
}

.custom-up-center-l {
    width: 330px;
    border-top: 2px solid rgba(0, 0, 0, 0.125);
    border-left: 2px solid rgba(0, 0, 0, 0.125);
    border-radius: 0 0 0 0;
}

.custom-up-center-r {
    width: 200px;
    border-top: 2px solid rgba(0, 0, 0, 0.125);
    border-left: 2px solid rgba(0, 0, 0, 0.125);
    border-radius: 0 0 0 0;
}

.custom-up-right {
    width: 200px;
    border-top: 2px solid rgba(0, 0, 0, 0.125);
    border-left: 2px solid rgba(0, 0, 0, 0.125);
    border-right: 2px solid rgba(0, 0, 0, 0.125);
    border-radius: 0 0.25rem 0 0;
}

.custom-down-left {
    width: 30px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.125);
    border-left: 2px solid rgba(0, 0, 0, 0.125);
    border-radius: 0 0 0 0.25rem;
}

.custom-down-center-l {
    width: 330px;
    border-top: 2px solid rgba(0, 0, 0, 0.125);
    border-bottom: 2px solid rgba(0, 0, 0, 0.125);
    border-left: 2px solid rgba(0, 0, 0, 0.125);
    border-radius: 0 0 0 0;
}

.custom-down-center-r {
    width: 200px;
    border-top: 2px solid rgba(0, 0, 0, 0.125);
    border-bottom: 2px solid rgba(0, 0, 0, 0.125);
    border-left: 2px solid rgba(0, 0, 0, 0.125);
    border-radius: 0 0 0 0;
}

.custom-down-right {
    width: 200px;
    border-top: 2px solid rgba(0, 0, 0, 0.125);
    border-bottom: 2px solid rgba(0, 0, 0, 0.125);
    border-left: 2px solid rgba(0, 0, 0, 0.125);
    border-right: 2px solid rgba(0, 0, 0, 0.125);
    border-radius: 0 0 0.25rem 0;
}

.tar {
    text-align: right;
}

.mouse-move {
    cursor: move;
}

.table-boder {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    border-left: 1px solid rgba(0, 0, 0, 0.125);
    border-right: 1px solid rgba(0, 0, 0, 0.125);
}

@media (min-width: 960px) {
    .lg-width {
        width: 100%;
    }
}